body {
    font-family: sans-serif;
}

.no-margins {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 1216px;
    margin: auto;
}

.ads-main-container {
    width: 1216px;
    margin: auto;
}

.add-new-page__wrapper {
    display: flex;
    justify-content: space-around;
}

.pages-content__content-list,
.ads-content__content-list {
    list-style: none;
    padding: 0;
}

.pages-content__content-title,
.ads-content__content-title {
    display: flex;
    justify-content: space-between;
    background: #EAECF0;
    border-radius: 10px;
}

.pages-content__content-item,
.ads-content__content-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px #EAECF0 solid;
    box-sizing: border-box;
    border-radius: 10px;

}

.page-user-naming__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-between;
}

.content-item-describer,
.ads-content-item-describer {
    display: flex;
    width: 498px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;

}

.name-characteristics {
    width: 498px;
    margin-left: 30px;
}


.total-characteristics {
    width: 176px;
}

.active-characteristics {
    width: 176px;
}

.link-characteristics {
    width: 224px;
}

.channel-total-ads {
    width: 176px;
    margin-top: 16px;
}

.channel-active-ads {
    width: 176px;
    margin-top: 16px;
}

.channel-link-div {
    width: 224px;
    display: flex;
    align-items: center;
}


.channel-link {
    text-decoration: none;
}

.management-links {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 15px;
}

.ad-pages-text {

    
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.pages-quantity-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #6941C6;
    margin-left: 20px;
    margin-top: 5px;
}

.add-new-pages-btn {
    
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    color: white;
    background-color: #6941C6;
    padding: 10px 16px 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.characteristics-text {
    
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.channel_nickname {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.modal__add-new-page-window {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal__filter-window {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    width: 710px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.3px #D0D5DD solid;
    background: white;
    border-radius: 10px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: auto;
}

.add-new-page__form-main {
    display: flex;
    justify-content: space-between;
}

.add-new-page__form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 24px;
}

.title-close {
    display: flex;
    justify-content: space-between;
}

.modal__close-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.url-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.page-url-field {
    width: 625px;
    padding: 10px 14px;
    border: 1px #EAECF0 solid;
    border-radius: 8px;
    margin-top: 15px;
}

.options-list {
    list-style: none;
    margin-left: -10px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.options-item {
    display: flex;
    flex-direction: column;
}

.options-select {
    padding: 10px 14px;
    border: 1px #D0D5DD solid;
    border-radius: 10px;
    margin-top: 7px;
    color: #101828;
    font-weight: 550;
}

.options-add-new-page-btn {
    color: white;
    background: #6941C6;
    width: 540px;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.back-to-pages {
    background: none;
    border: none;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;
}

.with-back-btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.page-btns {
    width: 400px;
    display: flex;
    justify-content: space-between;
    height: min-content;
}

.filter-btn {
    background: none;
    border: none;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 16px;
    color: #6941C6;
    cursor: pointer;
}


.install-media-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 16px;
    border: 1px #EAECF0 solid;
    border-radius: 8px;
}

.download-media-form {
    width: 275px;
}
.download-media-btn {
    background: none;
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 16px;
    border: 1px #EAECF0 solid;
    border-radius: 8px;
    text-align: center;
    width: 275px;

}

.loading-text__wrapper {
    width: 275px;
}

.loading-text {
    padding: 0;
    margin: 0;
    margin-top: 7px;
    opacity: 0.5;
}


.download-media-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.download-csv-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #6941C6;
    color: white;
}

.ads-quantity {
    background: #F9F5FF;
    border-radius: 5px;
    
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #6941C6;
    margin-left: 8px;
    margin-top: 2px;
    padding: 5px;
}

.ads-num {
    color: #6941C6;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;

}

.ads-date {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.ads-user-naming__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.ads-name-characteristics {
    width: 260px;
    margin-left: 30px;
}

.text-characteristics {
    width: 458px;
}

.text-st {
    width: 458px;
}

.ads-content-item-describer {
    width: 250px;
}

.cta-characteristics {
    width: 117px;
}

.days-active-characteristics {
    width: 100px;
}

.file-characteristics {
    width: 100px;
}

.landing-characteristics {
    width: 90px;
}

.cta-st {
    width: 117px;
    margin: auto 0;
    break-words: break-all;

}

.days-active-st {
    width: 100px;
    margin: auto 0;

}

.file-st {
    width: 100px;
    margin: auto 0;

}

.landing-st {
    width: 90px;
    margin: auto 0;
    color: #6941C6;

}

.ads-options-list {
    width: 650px;
}

.options-item-days {
    width: 150px;
}

.pages-content__content-item-link {
    text-decoration: none;
    color: black;
}

.box {
   position: relative;
   overflow:hidden;
   width:100px;
   height:100px;
}

.box img {
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:100px;
   height:100px;
   object-fit:cover;
}

.delete-button {
    all: unset;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    border: 3px #6941C6 dashed;
    bottom: 20px;
    right: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    opacity: 1;

}

download-modal {
    display: none;
    position: fixed;
    border: 3px #6941C6 dashed;
    bottom: 20px;
    right: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    opacity: 1;
    width: 220px;
}

.show {
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    bottom: -100px;
    right: 20px;
  }

  to {
    bottom: 20px;
    right: 20px;
  }
}


.remove {
    display: block;
    animation-duration: 2s;
    animation-name: disap;
}

.removed {
    display: none;
}

@keyframes disap {
  from {
    display: block
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none
  }
}

.modal-content {
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.red-color-modal {
    border: 3px red dashed;
}

.download-certain-media-form {
display: flex;
}

.download-certain-media-btn {
    background: none;
    border: none;
    text-decoration: underline;
    color: #6941C6;
    font-size: 14px;
    cursor: pointer;
}

