<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">

    <meta charset="utf-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>

<body>
    <main class="main-container">
        <section class="pages-content">
            <section class="add-new-page">
                <div class="add-new-page__form-main">
                    <div class="add-new-page__wrapper">
                        <h3 class="no-margins ad-pages-text">Ad Pages</h3>
                        <p class="no-margins pages-quantity-text">{{accounts_count}} pages</p>
                    </div>
                    <button class="add-new-pages-btn" id="open-modal">Add New Pages</button>
                </div>
            </section>
            <section class="pages-content__content">    
                <ul class="pages-content__content-list">
                    <li class="pages-content__content-title">
                        <p class="name-characteristics characteristics-text">Name</p>
                        <p class="total-characteristics characteristics-text">Total Ads</p>
                        <p class="active-characteristics characteristics-text">Active Ads</p>
                        <p class="link-characteristics characteristics-text">Fb Link</p>
                        <div style="width: 75px;">
                        </div>
                    </li>
                    {% for item in accounts %}
                    <li class="pages-content__content-item">
                        <a href="{{url_for('ads', account_id=item.acc_id, ad_status=ad_status)}}"  class="pages-content__content-item-link"
                        draggable="false">
                            <div class="content-item-describer" draggable="false">
                                <img src="{{item.account_image}}" alt="" width="40" height="40" draggable="false">
                                <div class="page-user-naming__wrapper" draggable="false">
                                    <h4 class="channel_name no-margins" draggable="false">{{item.account_name}}</h4>
                                    <p class="channel_nickname no-margins" draggable="false">{{item.account_username}}</p>
                                </div>
                            </div>
                        </a>
                        <p class="channel-total-ads no-margins">{{item.account_totalAds}}</p>
                        <p class="channel-active-ads no-margins">{{item.account_activeAds}}</p>
                        <div class="channel-link-div">
                            <a href="{{item.adlib_account_link}}" target="_blank" class="channel-link no-margins">Facebook Ads</a>
                        </div>
                        <div class="management-links">
                            <form action="/delete_page/{{item.acc_id}}" method="post" class="delete-channel no-margins">
                                <button class="delete-button">
                                <svg width="18" height="20" viewBox="0 0 18 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.3333 4.99999V4.33332C12.3333 3.3999 12.3333 2.93319 12.1517 2.57667C11.9919 2.26307 11.7369 2.0081 11.4233 1.84831C11.0668 1.66666 10.6001 1.66666 9.66667 1.66666H8.33333C7.39991 1.66666 6.9332 1.66666 6.57668 1.84831C6.26308 2.0081 6.00811 2.26307 5.84832 2.57667C5.66667 2.93319 5.66667 3.3999 5.66667 4.33332V4.99999M7.33333 9.58332V13.75M10.6667 9.58332V13.75M1.5 4.99999H16.5M14.8333 4.99999V14.3333C14.8333 15.7335 14.8333 16.4335 14.5608 16.9683C14.3212 17.4387 13.9387 17.8212 13.4683 18.0608C12.9335 18.3333 12.2335 18.3333 10.8333 18.3333H7.16667C5.76654 18.3333 5.06647 18.3333 4.53169 18.0608C4.06129 17.8212 3.67883 17.4387 3.43915 16.9683C3.16667 16.4335 3.16667 15.7335 3.16667 14.3333V4.99999"
                                        stroke="#475467" stroke-width="1.66667" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                </button>
                            </form>
<!--                            <a href="" class="edit-channel">-->
<!--                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"-->
<!--                                    xmlns="http://www.w3.org/2000/svg">-->
<!--                                    <path-->
<!--                                        d="M1.39668 15.0964C1.43497 14.7518 1.45411 14.5795 1.50624 14.4185C1.55249 14.2756 1.61784 14.1396 1.70051 14.0142C1.79369 13.8729 1.91627 13.7504 2.16142 13.5052L13.1667 2.49999C14.0871 1.57951 15.5795 1.57951 16.5 2.49999C17.4205 3.42046 17.4205 4.91285 16.5 5.83332L5.49475 16.8386C5.2496 17.0837 5.12702 17.2063 4.98572 17.2995C4.86035 17.3821 4.72439 17.4475 4.58152 17.4937C4.42048 17.5459 4.24819 17.565 3.90362 17.6033L1.08331 17.9167L1.39668 15.0964Z"-->
<!--                                        stroke="#475467" stroke-width="1.66667" stroke-linecap="round"-->
<!--                                        stroke-linejoin="round" />-->
<!--                                </svg>-->
<!--                            </a>-->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
        <section class="modal__add-new-page-window" id="modal-window">
            <div class="modal-wrapper">
                <form action="{{ url_for('add_new_page') }}" method="post" id="add-page-form"
                      class="add-new-page__form">
                    <div class="title-close">
                        <h3 class="modal-title">Add new page</h3>
                        <button class="modal__close-btn" id="close-modal" type="button">
                            <svg width="44" height="45" viewBox="0 0 44 45" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M28 16.5L16 28.5M16 16.5L28 28.5" stroke="#667085" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="url-wrapper">
                        <label for="account-link">Page URL*</label>
                        <input id="add-field" class="page-url-field" name="account-link" type="text" placeholder="Facebook Ads Page URL" required>
                    </div>
                    <div class="add-setting__wrapper">
                        <ul class="options-list">
                            <li class="options-item">
                                <label class="options-item-lb">Platform*</label>
                                <select class="options-select" name="platform">
                                    <option>All Platforms</option>
                                    <option>Facebook</option>
                                    <option>Instagram</option>
                                    <option>Audience Network</option>
                                    <option>Messenger</option>
                                </select>
                            </li>
                            <li class="options-item">
                                <label class="options-item-lb">Media Type*</label>
                                <select class="options-select" name="media">
                                    <option>All Types</option>
                                    <option>Image</option>
                                    <option>Video</option>
                                </select>
                            </li>

                        </ul>
                    </div>
                    <button class="options-add-new-page-btn">Add new page</button>
                </form>

            </div>
        </section>
    </main>
    <section id="modal" class="modal">

        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <p id="modal-text">Account will be added soon!</p>
        </div>
    </section>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/script_move.js"></script>

</body>

</html>