<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Document</title>
</head>

<body>
    <main class="ads-main-container">
        <section class="pages-content">
            <section class="add-new-page">
                <div class="add-new-page__form-main">
                    <div class="with-back-btn-wrapper">
                        <button class="back-to-pages">← Go back</button>
                        <div class="add-new-page__wrapper">
                            <h3 class="no-margins ad-pages-text">Future</h3>
                            <p class="no-margins ads-quantity">156 ads</p>
                        </div>
                    </div>
                    <div class="page-btns">
                        <button class="filter-btn" id="open-filter">Filter Ads</button>
                        <button class="download-media-btn">Download Media</button>
                        <button class="download-csv-btn">Download CSV</button>
                    </div>
                </div>
            </section>
            <section class="ads-content__content">
                <ul class="ads-content__content-list">
                    <li class="ads-content__content-title">
                        <p class="ads-name-characteristics characteristics-text">Name</p>
                        <p class="text-characteristics characteristics-text">Text</p>
                        <p class="cta-characteristics characteristics-text">CTA</p>
                        <p class="days-active-characteristics characteristics-text">Days active</p>
                        <p class="file-characteristics characteristics-text">File</p>
                        <p class="landing-characteristics characteristics-text">Landing</p>
                        </div>
                    </li>
                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>

                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="../static/images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>

                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>

                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>

                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>

                    <li class="ads-content__content-item">
                        <div class="ads-content-item-describer">
                            <img src="images/ad-avatar.png" alt="" width="100" height="60">
                            <div class="ads-user-naming__wrapper">
                                <h4 class="ads-num no-margins">1664772730669539</h4>
                                <p class="ads-date no-margins">Aug 30, 2023</p>
                            </div>
                        </div>
                        <p class="text-st">Train up to 7 days a week with custom
                            workouts and unlimited support - work 1:1 with
                            your own trainer at home, the gym, or anywhere anytime.</p>
                        <p class="cta-st no-margins">Sign Up</p>
                        <p class="days-active-st no-margins">12</p>
                        <a href="" class="file-st no-margins">Download File</a>
                        <a href="" class="landing-st no-margins">Landing</a>
                    </li>
                </ul>
            </section>
        </section>
        <section class="modal__filter-window" id="filter-window">
            <div class="modal-wrapper">
                <form action="" class="add-new-page__form">
                    <div class="title-close">
                        <h3 class="modal-title">Filter Ads</h3>
                        <button class="modal__close-btn" id="close-filter">
                            <svg width="44" height="45" viewBox="0 0 44 45" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M28 16.5L16 28.5M16 16.5L28 28.5" stroke="#667085" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="url-wrapper">
                        <label>Contains text</label>
                        <input class="page-url-field" type="text" placeholder="Contains text">
                    </div>
                    <div class="add-setting__wrapper">
                        <ul class="options-list ads-options-list">
                            <li class="options-item options-item-days">
                                <label class="options-item-lb">Over X Days</label>
                                <input type="text" class="options-select">
                            </li>
                            <li class="options-item">
                                <label class="options-item-lb">Platform</label>
                                <select class="options-select">
                                    <option>qwe</option>
                                    <option>qwe</option>
                                    <option>qwe</option>
                                </select>
                            </li>
                            <li class="options-item">
                                <label class="options-item-lb">Media Type</label>
                                <select class="options-select">
                                    <option>qwe</option>
                                    <option>qwe</option>
                                    <option>qwe</option>
                                </select>
                            </li>
                            <li class="options-item">
                                <label class="options-item-lb">Start Date</label>
                                <select class="options-select">
                                    <option>qwe</option>
                                    <option>qwe</option>
                                    <option>qwe</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <button class="options-add-new-page-btn">Filter Ads</button>
                </form>
            </div>
        </section>
    </main>
    <script src="../static/js/filter.js"></script>
</body>

</html>