<!-- HTML -->
<!DOCTYPE html>
<html>
<head>
        <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

<section class="tasks">
  <h1 class="tasks__title">To do list</h1>

  <ul class="tasks__list" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
    <li class="tasks__item" draggable="true" ondragstart="handleDragStart(event)">learn HTML</li>
    <li class="tasks__item" draggable="true" ondragstart="handleDragStart(event)">learn CSS</li>
    <li class="tasks__item" draggable="true" ondragstart="handleDragStart(event)">learn JavaScript</li>
    <li class="tasks__item" draggable="true" ondragstart="handleDragStart(event)">learn PHP</li>
    <li class="tasks__item" draggable="true" ondragstart="handleDragStart(event)">stay alive</li>
  </ul>
</section>
<script src="../static/js/test.js"></script>
</body>
</html>