<!-- HTML -->
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h2>Асинхронная загрузка файла</h2>

<button type="button" onclick="loadDoc()">Загрузить файл</button>

<script>
function loadDoc() {
  $.ajax({
    url: '/download_media',  // URL вашего API
    method: 'GET',
    xhrFields: {
      responseType: 'blob'
    },
    success: function (data) {
      var a = document.createElement('a');
      var url = window.URL.createObjectURL(data);
      a.href = url;
      a.download = 'zipfile.zip';
      a.click();
      window.URL.revokeObjectURL(url);
    }
  });
}
</script>

</body>
</html>